<div class="jumbotron text-center">
  <p>&nbsp;</p>
  <h1>Estaciona aquí</h1>
  <p>Proyecto de Desarrollo para Entorno Web.</p>
  <p>2018-I</p>
  <p>&nbsp;</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4 text-justify">
      <h3 class="text-center">¡Registrate!</h3>
      <p>Se parte de la comunidad mas grade de alquiler de estacionamientos.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="col-sm-4 text-justify">
      <h3 class="text-center">¡Comparte información!</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="col-sm-4 text-justify">
      <h3 class="text-center">Contenido 3</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
</div>


<br><br><br><br><br>

<div class="panel panel-default">
  <div class="panel-footer">Copyrigth @UPC 2018</div>
</div>