<div class="jumbotron text-center">
  <p>&nbsp;</p>
  <h1>Estaciona aquí</h1>
  <p>Proyecto de Desarrollo para Entorno Web.</p>
  <p>2018-I</p>
  <p>&nbsp;</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Contenido 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Contenido 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Contenido 3</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>
</div>
